<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    
</head>
<body>
	<h1>Book details </h1>
	<form action="#" th:action="@{save}"  th:object= ${book} method="post">
	<p>Author:<input type="text" th:field="${book.author}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
	<p>Title: <input type="text" th:field="${book.name}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>

			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="catlist">Kategoria</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>


	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
    
</body>
</html>