<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org">


<head> 
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title> Book List </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head>

<body> 



	<div align="center"> 
	<h1> Books </h1>
	</div>
	<div class="container">
	<table class="table table-striped"> 
		<tr> 
			<th> Id </th>
			<th> Author	</th>
			<th> Isbn	</th>
			<th> Price	</th>
			<th> Title	</th>
			<th> Year	</th>
		</tr>
		
		
		<tr th:each="book : ${books}"> 
		<td th:text="${book.id}">	ID</td>	
		<td th:text="${book.author}"> Author</td>
		<td th:text="${book.isbn}">	ISBN</td>
		<td th:text="${book.price}"> Price</td>
		<td th:text="${book.title}">	Title</td>
		<td th:text="${book.year}">	Year</td>
		<td><a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger"> Delete  </a></td>
		<td><a th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-warning"> Edit </a></td>
		</tr>
	</table>
	<div class="container"> 
	<a href="addbook" class="btn btn-success">  &nbsp;Add Book</a>
	</div>
	</div>
</body>
 </html>