<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Book details </h1>
	<form action="#" th:action="@{/update/{id}(id=${book.id})}"  th:object= ${book} method="post">
	<p>Author:<input type="text" th:field="${book.author}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
	<p>Title: <input type="text" th:field="${book.name}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>Category: <input type="text" th:field="${book.category.name}" /></p>
	

	<input type="submit" value="Update" /> <input type="reset" value="Reset" />
	</form>
    
</body>
</html>